<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <title>Make Me Laugh</title>
</head>

<body>

    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <article class="formSelection area">

        <form class="form" action="/" method="POST">

            <article class="quadrant-design">
                <div class="quadrant"></div>
            </article>

            <!-- Categories -->
            <div class="categories selection">
                <h4>Select Category/Categories</h4>
                <div class="container categories-container">

                    <div class="category">
                        <input class="checkbox" type="checkbox" id="programming" name="programming">
                        <label for="programming">Programming</label>
                    </div>

                    <div class="category">
                        <input type="checkbox" id="mis" name="mis">
                        <label for="mis">Mis</label>
                    </div>

                    <div class="category">
                        <input type="checkbox" id="dark" name="dark">
                        <label for="dark">Dark</label>
                    </div>

                    <div class="category">
                        <input type="checkbox" id="pun" name="pun">
                        <label for="pun">Pun</label>
                    </div>

                    <div class="category">
                        <input type="checkbox" id="spooky" name="spooky">
                        <label for="spooky">Spooky</label>
                    </div>

                    <div class="category">
                        <input type="checkbox" id="christmas" name="christmas">
                        <label for="christmas">Christmas</label>
                    </div>
                </div>

            </div>


            <!-- Blackist Flags -->
            <div class="blackListFlages selection">
                <h4>Select Blackist Flags</h4>
                <div class="container">
                    <input type="checkbox" id="nsfw" name="nsfw">
                    <label for="nsfw">nsfw</label>

                    <input type="checkbox" id="religious" name="religious">
                    <label for="religious">Religious</label>

                    <input type="checkbox" id="political" name="political">
                    <label for="political">Political</label>

                    <input type="checkbox" id="racist" name="racist">
                    <label for="racist">Racist</label>
                </div>

            </div>


            <!-- Joke Type -->
            <div class="jokeType selection">
                <h4>Select Type of Joke</h4>
                <div class="container">
                    <input type="checkbox" id="single" name="single" checked>
                    <label for="single">Single</label>

                    <input type="checkbox" id="twoPart" name="twoPart" checked>
                    <label for="twoPart">Two Part</label>
                </div>

            </div>

            <!-- Searching  -->
            <div class="searchString selection">
                <h4>Enter String</h4>
                <div class="container">
                    <label class="search-label" for="searchString">Search for a joke that
                        contains this search string:</label>
                    <input class="search-string" type="text" id="searchString" name="searchString"
                        placeholder="Enter String">
                </div>


            </div>

            <!-- Number of Jokes -->
            <!-- <label for="jokesNum">Amount of Jokes </label>
            <input type="number" id="jokesNum" name="jokesNum" value="1"> -->

            <!-- <br> -->
            <div class="button">
                <button class="get-joke" type="submit">Get Joke</button>
            </div>

        </form>

        <section class="new-joke">

            <header class="header"><a class="logo" href="#">MakeMeLaugh</a></header>
            <div class="joke-feature-container">
                <p class="joke-type"> JokeType: Programming </p>
                <div class="joke-text">
                        <p> Setup: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti ipsam nulla deleniti quidem soluta recusandae! </p>
                        <p> Delivery:  Minima, quo alias! Modi assumenda numquam ipsa exercitationem. Error aspernatur ullam iste doloribus dolorem accusamus.</p>

                        
                </div>

                <div class="details">
                    <button class="Show">Details</button>
                    <button class="Hide">Details</button>
                    <div id="target"> Hello </div>
                </div>

            </div>
        </section>

    </article>


</body>

</html>

<!-- Checking that the current type is single or 2 type -->
<!-- 

    <p class="joke-type">  Joke Type: <%= jokeArrayHTML[0][0] %>  </p>
                <div class="joke-text">
                    <% if (jokeArrayHTML[0][3] === undefined) {   %>
                        <p> Joke: <%= jokeArrayHTML[0][2] %> </p>
                        <% } else { %>
                            <p class="dual-p1"> Setup: <%= jokeArrayHTML[0][2] %> </p>
                            <p> Delivery: <%= jokeArrayHTML[0][3] %> </p>

                    <% } %>
                </div>

                <div class="details">
                    <div id="target"> Joke URL : <%= jokeArrayHTML[0][1] %> </div>
                    <a href="">API Used</a>
                </div>

    <div class="joke-text">
                    <% if (jokeArrayHTML[0][2] === undefined) {   %>
                        <p> Joke: <%= jokeArrayHTML[0][1] %> </p>
                        <% } else { %>
                            <p class="dual-p1"> Setup: <%= jokeArrayHTML[0][1] %> </p>
                            <p> Delivery: <%= jokeArrayHTML[0][2] %> </p>

                    <% } %>
                </div>


 -->